__pycache__/
*.py[cod]
.venv/
.env
.ipynb_checkpoints/
.pytest_cache/
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/metrics/*
!reports/metrics/.gitkeep
reports/predictions/*
!reports/predictions/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
